.app-wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
  .paper {
    margin-bottom: 10px;
    padding: 20px 24px;
  }
  .form-wrapper {
    .form-item-wrapper {
      padding-bottom: 10px;
      width: 100%;
      .form-item-wrapper {
        padding-bottom: 0;
      }
      .form-item-name {
        white-space: nowrap;
        min-width: 100px;
      }
    }
    &.i18n-en {
      .form-item-wrapper {
        .form-item-name {
          min-width: 120px;
        }
      }
    }
  }
  .canvas-container {
    font-size: 0;
    cursor: context-menu;
  }
}
